<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserSideMenu</title>
</head>
<body>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a class="nav-link active" aria-current="page" th:href="@{/user/allAnnouncements}">My Announcements</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" th:href="@{/user/settings}">Settings</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link" th:href="@{/moto/add/brand}">New announcement</a>
    </li>
</ul>
</body>
</html>