<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photo Addition</title>
</head>
<body>
<div th:include="_header.html"></div>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Select Brand</li>
        <li class="breadcrumb-item active" aria-current="page">Select Model</li>
        <li class="breadcrumb-item active" aria-current="page">Select Characteristics</li>
        <li class="breadcrumb-item active" aria-current="page">Bargain & Exchange</li>
        <li class="breadcrumb-item active" aria-current="page">Set Price</li>
        <li class="breadcrumb-item active" aria-current="page">Add photos</li>
    </ol>
</nav>
<div class="container">
    <div class="container" style="text-align: -webkit-center">
        <form th:action="@{/ad/photos}" enctype="multipart/form-data" method="post">
            <div class="mb-3" style="width: 70%">
                <div class="input-group">
                    <input type="file" name="file" class="form-control" id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
                <button type="submit" class="btn btn-secondary">SET</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col" th:each="photo : ${photos}">
                <div class="p-3 border bg-light" style="text-align: center">
                    <img th:src="${photo.url}" class="img-thumbnail" alt="...">
                    <form th:action="@{/ad/photos/delete}" method="post">
                        <input type="hidden" name="photoId" th:value="${photo.id}">
                        <button type="submit" class="btn-close" aria-label="Close"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="container" th:align="center">
    <form th:action="@{/ad/photos/finish}" method="post">
        <button type="submit" class="btn btn-outline-secondary">FINISH PHOTO UPLOAD</button>
    </form>
</div>
</body>
</html>