<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Password</title>
</head>
<body>
<div th:include="_header.html"></div>
<div class="alert alert-success" role="alert" style="alignment: center" th:if="${isChanged}">
    <h4 class="alert-heading">Congrats!</h4>
    <p>Your password has been successfully changed!</p>
</div>
<div class="alert alert-danger" role="alert" style="alignment: center" th:if="${isChanged==false}">
    <h4 class="alert-heading">Ooops...Something wrong!</h4>
    <p>Your password has not been changed, check your input data, and try it again!</p>
    <p th:text="${message}"></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-4" th:include="_userSideMenu.html">
        </div>
        <div class="col-6">
            <form th:action="@{/user/changePassword}" method="post">
                <div class="mb-3" style="width: 60%">
                    <label style="text-align: left" class="form-label">Old Password</label>
                    <input type="password" class="form-control" name="oldPassword" placeholder="old password">
                </div>
                <div class="mb-3" style="width: 60%">
                    <label style="text-align: left" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="newPassword" placeholder="new password">
                </div>
                <div class="mb-3" style="width: 60%">
                    <label style="text-align: left" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="confirm password">
                </div>
                <button type="submit" class="btn btn-outline-success">Save changes!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>