<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deleted</title>
</head>
<body>
<div th:include="_header.html"></div>
<div class="container" style="alignment: center">
    <p class="text" style="text-align: center">
        <h2>Your Ad has been deleted!</h2>
    </p>
    <div class="form-check" style="text-align: left">
        <a th:href="@{/user/allAnnouncements}" class="btn btn-outline-dark">GO TO PROFILE</a>
    </div>
    <br>
    <div class="form-check" style="text-align: left">
        <a th:href="@{/moto/add/brand}" class="btn btn-outline-dark">CREATE NEW ANNOUNCEMENT</a>
    </div>
</div>
</body>
</html>