<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<div th:include="_header.html"></div>
<div class="container" th:object="${activeUser}">
    <div class="row">
        <div class="col-4" th:include="_userSideMenu.html">
        </div>
        <div class="col-6">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Username</div>
                    </div>
                    <span class="text">
                        <a th:text="${activeUser.username}"></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Password</div>
                    </div>
                    <span class="text">
                        <a th:href="@{/user/changePassword}">
                            <p>Change</p>
                        </a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">E-Mail</div>
                    </div>
                    <span class="text">
                        <a th:text="${activeUser.email}"></a>
                        <br>
                        <a th:href="@{/user/changeEmail}" style="alignment: left">
                            <p>Change</p>
                        </a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Phone</div>
                    </div>
                    <span class="text">
                        <a th:text="${activeUser.phoneNumber}"></a>
                        <br>
                        <a th:href="@{/user/changePhone}" style="alignment: left">
                            <p>Change</p>
                        </a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Name</div>
                    </div>
                    <span class="text">
                        <a th:text="${activeUser.firstName}"></a>
                        <br>
                        <a th:href="@{/user/changeName}" style="alignment: left">
                            <p>Change</p>
                        </a>
                    </span>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>